@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200&display=swap');

body {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    background-color: black;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner {
    padding: 0;
}

.profile-picture {
    width: 100%;
    height: auto;
    border: 5px solid #ef0101;
    border-radius: 5px;
}

.photo {
    padding: 5px 5px 0px 5px;
    height: auto;
    max-width: 100%;
    margin-bottom: 0;
}

.quote-marks {
    color: #ef0101;
    font-size: 40px;
    margin-bottom: 0px;
}

.quote-marks-right {
    text-align: right;
    margin-bottom: 0px;
}

.blockquote-text {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .blockquote-text {
        font-size: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .blockquote-credit {
        font-size: 45px;
    }
}

.blockquote-credit {
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-family: "Goldman", sans-serif;
}

.section {
    text-align: center;
    padding: 0;
    
}

.nav-link {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ef0101;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
}

@media only screen and (min-width: 768px) {
    .nav-link {
        font-size: 32px;
    }
}

.section-heading {
    font-family: "Saira Extra Condensed", sans-serif;
    padding-top: 5px;
    font-size: 50px;
    text-align: center;
    text-decoration: underline #ef0101;
}

@media only screen and (min-width: 768px) {
    .section-heading {
        text-align: left;
    }
}