@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    background-color: black;;
}

.title {
    margin: 0;
    font-size: 60px;
    font-family: "Goldman", sans-serif;
    color: red;
}

.sub-heading {
    color: white;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 30px;
}

img {
    height: auto;
    width: 100%;
    max-width: 500px;
    border: 5px solid red;
    margin-left: 10px;
    display: inline-block;
}

blockquote {
    margin: 0;
}

.quote {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    img {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}